In [7]:
#Import needed libraries
import pandas as pd

In [22]:
#Define locations of datafiles using glob 
POE_data = ('resources/Final COR Port of Entry.xlsx')

In [58]:
df_POE = pd.ExcelFile(POE_data)

In [62]:
df_POE_2018 = df_POE.parse(2, header=1, skiprows=[2,3,4])
df_POE_2018.drop(df_POE_2018.iloc[:, 14:27], inplace=True, axis=1)
df_POE_2018.drop(df_POE_2018.iloc[:, 0:1], inplace=True, axis=1)
df_POE_2018.dropna(inplace=True)
df_POE_2017 = df_POE.parse(3, header=1, skiprows=[2,3,4])
df_POE_2017.drop(df_POE_2017.iloc[:, 14:27], inplace=True, axis=1)
df_POE_2017.drop(df_POE_2017.iloc[:, 0:1], inplace=True, axis=1)
df_POE_2017.dropna(inplace=True)
df_POE_2016 = df_POE.parse(4, header=1, skiprows=[2,3,4])
df_POE_2016.drop(df_POE_2016.iloc[:, 14:27], inplace=True, axis=1)
df_POE_2016.drop(df_POE_2016.iloc[:, 0:1], inplace=True, axis=1)
df_POE_2016.dropna(inplace=True)
df_POE_2015 = df_POE.parse(5, header=1, skiprows=[2,3,4])
df_POE_2015.drop(df_POE_2015.iloc[:, 14:27], inplace=True, axis=1)
df_POE_2015.drop(df_POE_2015.iloc[:, 0:1], inplace=True, axis=1)
df_POE_2015.dropna(inplace=True)
df_POE_2014 = df_POE.parse(6, header=1, skiprows=[2,3,4])
df_POE_2014.drop(df_POE_2014.iloc[:, 14:27], inplace=True, axis=1)
df_POE_2014.drop(df_POE_2014.iloc[:, 0:1], inplace=True, axis=1)
df_POE_2014.dropna(inplace=True)
df_POE_2013 = df_POE.parse(7, header=1, skiprows=[2,3,4])
df_POE_2013.drop(df_POE_2013.iloc[:, 14:27], inplace=True, axis=1)
df_POE_2013.drop(df_POE_2013.iloc[:, 0:1], inplace=True, axis=1)
df_POE_2013.dropna(inplace=True)
df_POE_2012 = df_POE.parse(8, header=1, skiprows=[2,3,4])
df_POE_2012.drop(df_POE_2012.iloc[:, 14:27], inplace=True, axis=1)
df_POE_2012.drop(df_POE_2012.iloc[:, 0:1], inplace=True, axis=1)
df_POE_2012.dropna(inplace=True)
df_POE_2019 = df_POE.parse(1, header=1, skiprows=[2,3,4])
df_POE_2019.drop(df_POE_2019.iloc[:, 11:26], inplace=True, axis=1)
df_POE_2019.drop(df_POE_2019.iloc[:, 5:6], inplace=True, axis=1)
df_POE_2019.drop(df_POE_2019.iloc[:, 8:9], inplace=True, axis=1)
df_POE_2019.drop(df_POE_2019.iloc[:, 0:1], inplace=True, axis=1)
df_POE_2019.dropna(inplace=True)
df_POE_2017

,Ports of Entry based on I-94 Country of Residence (COR),2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00
0,"NEW YORK, NY",374715.0,327434.0,436732.0,610753.0,581461.0,601761.0,676663.0,662103.0,602459.0,637793.0,482117.0,594037.0
1,"MIAMI, FL",406942.0,380832.0,387510.0,436046.0,355378.0,375838.0,448221.0,432057.0,300402.0,408529.0,416380.0,513778.0
2,"LOS ANGELES, CA",354518.0,271619.0,313566.0,359418.0,355819.0,392844.0,442936.0,443307.0,417120.0,363596.0,280611.0,364432.0
3,"SAN FRANCISCO, CA",173900.0,135912.0,151165.0,180115.0,197037.0,215980.0,253206.0,250830.0,236913.0,188762.0,134374.0,153238.0
4,"HONOLULU, HI",193947.0,179788.0,183571.0,171582.0,181520.0,191280.0,207252.0,232982.0,212731.0,195740.0,189456.0,199652.0
5,"NEWARK, NJ",112174.0,106701.0,119909.0,171295.0,160263.0,153490.0,174418.0,181769.0,164457.0,179701.0,143589.0,179409.0
6,"ORLANDO, FL",98876.0,97790.0,106733.0,142977.0,131723.0,125766.0,176206.0,176607.0,123846.0,156005.0,113791.0,138528.0
7,"CHICAGO, IL",112014.0,72006.0,104488.0,128163.0,162179.0,168905.0,169553.0,194476.0,151197.0,139551.0,107931.0,107949.0
8,"AGANA, GU",125042.0,112828.0,131358.0,112538.0,107593.0,111176.0,119844.0,132956.0,106173.0,95763.0,113019.0,124348.0
9,"FT. LAUDERDALE, FL",77401.0,72207.0,75234.0,90652.0,74663.0,84657.0,107834.0,105970.0,65275.0,88522.0,108350.0,138542.0
10,"ATLANTA, GA",77651.0,65486.0,85785.0,104782.0,98079.0,91467.0,100589.0,113592.0,94828.0,103731.0,79875.0,103205.0
11,"WASHINGTON, DC",70451.0,50564.0,73385.0,88922.0,95775.0,97711.0,118432.0,112199.0,92654.0,98529.0,71240.0,79781.0
12,"BOSTON, MA",61168.0,41315.0,57137.0,74669.0,86880.0,94048.0,108904.0,110763.0,98844.0,88128.0,66787.0,62374.0
13,"HOUSTON, TX",75929.0,61683.0,71486.0,89648.0,79648.0,76565.0,85780.0,67173.0,71026.0,80895.0,70172.0,94646.0
14,"DALLAS, TX",69000.0,53777.0,62285.0,69858.0,71677.0,65239.0,73535.0,78804.0,70188.0,66729.0,56180.0,70229.0
15,"SEATTLE, WA",53889.0,34588.0,40812.0,44039.0,56555.0,64857.0,72693.0,75881.0,69947.0,45015.0,30834.0,39918.0
16,"LAS VEGAS, NV",41671.0,36158.0,45663.0,50644.0,54711.0,54247.0,58930.0,58440.0,64137.0,59659.0,41856.0,31453.0
17,"DETROIT, MI",39617.0,27437.0,33274.0,38653.0,42115.0,41242.0,48160.0,56304.0,41296.0,41444.0,28356.0,33480.0
18,"PHILADELPHIA, PA",20113.0,15977.0,21196.0,28872.0,25968.0,26985.0,35723.0,40058.0,25112.0,30377.0,20449.0,27652.0
19,"BLAINE, WA",12291.0,12741.0,14148.0,16795.0,19819.0,22207.0,31207.0,35136.0,21895.0,18104.0,12679.0,19938.0
20,"MINN./ST. PAUL, MN",12223.0,10922.0,11584.0,13427.0,14827.0,16209.0,21374.0,21200.0,15985.0,14407.0,10856.0,11483.0
21,"TAMPA, FL",8308.0,9118.0,10143.0,14605.0,11214.0,9150.0,13494.0,12693.0,9389.0,16820.0,12564.0,12443.0
22,"SAN DIEGO, CA",10467.0,7414.0,8728.0,9367.0,8870.0,9323.0,11497.0,10517.0,9156.0,8402.0,8020.0,7777.0
23,"NIAGARA FALLS, NY",3078.0,3506.0,3997.0,7892.0,11195.0,12932.0,17397.0,18259.0,13245.0,11803.0,4903.0,6990.0
24,"SANFORD, FL",2484.0,2946.0,3824.0,10931.0,16416.0,14732.0,17508.0,17986.0,15047.0,13157.0,3472.0,2230.0
25,"PEACE BRIDGE, NY",3512.0,3666.0,4701.0,6629.0,7558.0,8093.0,13185.0,14869.0,8539.0,8405.0,5132.0,9704.0
26,"SAN JUAN, PR",13116.0,13069.0,13229.0,13582.0,8682.0,9931.0,12441.0,13776.0,4872.0,2131.0,3543.0,6789.0
27,"CHAMPLAIN, NY",3120.0,3553.0,4024.0,6785.0,7722.0,8816.0,13391.0,14174.0,8760.0,9294.0,4766.0,8348.0
28,"PHOENIX, AZ",6938.0,5875.0,6949.0,7546.0,6069.0,5259.0,5188.0,5658.0,5444.0,5683.0,5319.0,6248.0
29,"PORTLAND, OR",4223.0,3267.0,3890.0,4539.0,5498.0,8075.0,9508.0,11904.0,8063.0,4895.0,3408.0,3848.0

In [69]:
df_2019 = pd.melt(df_POE_2019, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'])
df_2018 = pd.melt(df_POE_2018, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'])
df_2017 = pd.melt(df_POE_2017, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'])
df_2016 = pd.melt(df_POE_2016, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'])
df_2015 = pd.melt(df_POE_2015, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'])
df_2014 = pd.melt(df_POE_2014, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'])
df_2013 = pd.melt(df_POE_2013, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'])
df_2012 = pd.melt(df_POE_2012, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'])
df_2012

,Ports of Entry based on I-94 Country of Residence (COR),variable,value
0,"NEW YORK, NY",2012-01-01,279630.0
1,"MIAMI, FL",2012-01-01,313799.0
2,"LOS ANGELES, CA",2012-01-01,216841.0
3,"SAN FRANCISCO, CA",2012-01-01,113147.0
4,"HONOLULU, HI",2012-01-01,151626.0
5,"NEWARK, NJ",2012-01-01,99740.0
6,"ORLANDO, FL",2012-01-01,61277.0
7,"CHICAGO, IL",2012-01-01,91132.0
8,"AGANA, GU",2012-01-01,106716.0
9,"FT. LAUDERDALE, FL",2012-01-01,28290.0
10,"ATLANTA, GA",2012-01-01,67666.0
11,"WASHINGTON, DC",2012-01-01,61694.0
12,"BOSTON, MA",2012-01-01,27271.0
13,"HOUSTON, TX",2012-01-01,50532.0
14,"DALLAS, TX",2012-01-01,35864.0
15,"SEATTLE, WA",2012-01-01,24775.0
16,"LAS VEGAS, NV",2012-01-01,21435.0
17,"DETROIT, MI",2012-01-01,16752.0
18,"PHILADELPHIA, PA",2012-01-01,22696.0
19,"BLAINE, WA",2012-01-01,24638.0
20,"MINN./ST. PAUL, MN",2012-01-01,9434.0
21,"TAMPA, FL",2012-01-01,4315.0
22,"SAN DIEGO, CA",2012-01-01,3735.0
23,"NIAGARA FALLS, NY",2012-01-01,7229.0
24,"SANFORD, FL",2012-01-01,5306.0
25,"PEACE BRIDGE, NY",2012-01-01,4532.0
26,"SAN JUAN, PR",2012-01-01,9049.0
27,"CHAMPLAIN, NY",2012-01-01,4028.0
28,"PHOENIX, AZ",2012-01-01,4717.0
29,"PORTLAND, OR",2012-01-01,3376.0
...,...,...,...
330,"NEW YORK, NY",2012-12-01,449223.0
331,"MIAMI, FL",2012-12-01,443925.0
332,"LOS ANGELES, CA",2012-12-01,247492.0
333,"SAN FRANCISCO, CA",2012-12-01,108838.0
334,"HONOLULU, HI",2012-12-01,175359.0
335,"NEWARK, NJ",2012-12-01,125550.0
336,"ORLANDO, FL",2012-12-01,94404.0
337,"CHICAGO, IL",2012-12-01,86590.0
338,"AGANA, GU",2012-12-01,109151.0
339,"FT. LAUDERDALE, FL",2012-12-01,53998.0
340,"ATLANTA, GA",2012-12-01,88552.0
341,"WASHINGTON, DC",2012-12-01,73861.0
342,"BOSTON, MA",2012-12-01,35671.0
343,"HOUSTON, TX",2012-12-01,64618.0
344,"DALLAS, TX",2012-12-01,43615.0
345,"SEATTLE, WA",2012-12-01,23861.0
346,"LAS VEGAS, NV",2012-12-01,25900.0
347,"DETROIT, MI",2012-12-01,23351.0
348,"PHILADELPHIA, PA",2012-12-01,33769.0
349,"BLAINE, WA",2012-12-01,41798.0
350,"MINN./ST. PAUL, MN",2012-12-01,10008.0
351,"TAMPA, FL",2012-12-01,6957.0
352,"SAN DIEGO, CA",2012-12-01,5449.0
353,"NIAGARA FALLS, NY",2012-12-01,14113.0
354,"SANFORD, FL",2012-12-01,5305.0
355,"PEACE BRIDGE, NY",2012-12-01,10025.0
356,"SAN JUAN, PR",2012-12-01,14417.0
357,"CHAMPLAIN, NY",2012-12-01,11117.0
358,"PHOENIX, AZ",2012-12-01,5263.0
359,"PORTLAND, OR",2012-12-01,2949.0

In [79]:
df_2019 = pd.melt(df_POE_2019, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'], var_name="Date", value_name="Encounters")
#df_2019 = pd.concat([df_2019[[0]], df_2019[0].str.split(', ', expand=True)], axis=1)
df_2018 = pd.melt(df_POE_2018, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'], var_name="Date", value_name="Encounters")
df_2017 = pd.melt(df_POE_2017, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'], var_name="Date", value_name="Encounters")
df_2016 = pd.melt(df_POE_2016, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'], var_name="Date", value_name="Encounters")
df_2015 = pd.melt(df_POE_2015, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'], var_name="Date", value_name="Encounters")
df_2014 = pd.melt(df_POE_2014, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'], var_name="Date", value_name="Encounters")
df_2013 = pd.melt(df_POE_2013, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'], var_name="Date", value_name="Encounters")
df_2012 = pd.melt(df_POE_2012, id_vars=['Ports of Entry based on I-94 Country of Residence (COR)'], var_name="Date", value_name="Encounters")
df_2012

,Ports of Entry based on I-94 Country of Residence (COR),Date,Encounters
0,"NEW YORK, NY",2012-01-01,279630.0
1,"MIAMI, FL",2012-01-01,313799.0
2,"LOS ANGELES, CA",2012-01-01,216841.0
3,"SAN FRANCISCO, CA",2012-01-01,113147.0
4,"HONOLULU, HI",2012-01-01,151626.0
5,"NEWARK, NJ",2012-01-01,99740.0
6,"ORLANDO, FL",2012-01-01,61277.0
7,"CHICAGO, IL",2012-01-01,91132.0
8,"AGANA, GU",2012-01-01,106716.0
9,"FT. LAUDERDALE, FL",2012-01-01,28290.0
10,"ATLANTA, GA",2012-01-01,67666.0
11,"WASHINGTON, DC",2012-01-01,61694.0
12,"BOSTON, MA",2012-01-01,27271.0
13,"HOUSTON, TX",2012-01-01,50532.0
14,"DALLAS, TX",2012-01-01,35864.0
15,"SEATTLE, WA",2012-01-01,24775.0
16,"LAS VEGAS, NV",2012-01-01,21435.0
17,"DETROIT, MI",2012-01-01,16752.0
18,"PHILADELPHIA, PA",2012-01-01,22696.0
19,"BLAINE, WA",2012-01-01,24638.0
20,"MINN./ST. PAUL, MN",2012-01-01,9434.0
21,"TAMPA, FL",2012-01-01,4315.0
22,"SAN DIEGO, CA",2012-01-01,3735.0
23,"NIAGARA FALLS, NY",2012-01-01,7229.0
24,"SANFORD, FL",2012-01-01,5306.0
25,"PEACE BRIDGE, NY",2012-01-01,4532.0
26,"SAN JUAN, PR",2012-01-01,9049.0
27,"CHAMPLAIN, NY",2012-01-01,4028.0
28,"PHOENIX, AZ",2012-01-01,4717.0
29,"PORTLAND, OR",2012-01-01,3376.0
...,...,...,...
330,"NEW YORK, NY",2012-12-01,449223.0
331,"MIAMI, FL",2012-12-01,443925.0
332,"LOS ANGELES, CA",2012-12-01,247492.0
333,"SAN FRANCISCO, CA",2012-12-01,108838.0
334,"HONOLULU, HI",2012-12-01,175359.0
335,"NEWARK, NJ",2012-12-01,125550.0
336,"ORLANDO, FL",2012-12-01,94404.0
337,"CHICAGO, IL",2012-12-01,86590.0
338,"AGANA, GU",2012-12-01,109151.0
339,"FT. LAUDERDALE, FL",2012-12-01,53998.0
340,"ATLANTA, GA",2012-12-01,88552.0
341,"WASHINGTON, DC",2012-12-01,73861.0
342,"BOSTON, MA",2012-12-01,35671.0
343,"HOUSTON, TX",2012-12-01,64618.0
344,"DALLAS, TX",2012-12-01,43615.0
345,"SEATTLE, WA",2012-12-01,23861.0
346,"LAS VEGAS, NV",2012-12-01,25900.0
347,"DETROIT, MI",2012-12-01,23351.0
348,"PHILADELPHIA, PA",2012-12-01,33769.0
349,"BLAINE, WA",2012-12-01,41798.0
350,"MINN./ST. PAUL, MN",2012-12-01,10008.0
351,"TAMPA, FL",2012-12-01,6957.0
352,"SAN DIEGO, CA",2012-12-01,5449.0
353,"NIAGARA FALLS, NY",2012-12-01,14113.0
354,"SANFORD, FL",2012-12-01,5305.0
355,"PEACE BRIDGE, NY",2012-12-01,10025.0
356,"SAN JUAN, PR",2012-12-01,14417.0
357,"CHAMPLAIN, NY",2012-12-01,11117.0
358,"PHOENIX, AZ",2012-12-01,5263.0
359,"PORTLAND, OR",2012-12-01,2949.0

In [78]:
df_2019[['POE City','POE State']] = df_2019['Ports of Entry based on I-94 Country of Residence (COR)'].str.split(', ', expand=True)
df_2019

,Ports of Entry based on I-94 Country of Residence (COR),variable,value,City,State
0,"NEW YORK, NY",2019-01-01,405273.0,NEW YORK,NY
1,"MIAMI, FL",2019-01-01,432014.0,MIAMI,FL
2,"LOS ANGELES, CA",2019-01-01,361859.0,LOS ANGELES,CA
3,"SAN FRANCISCO, CA",2019-01-01,178474.0,SAN FRANCISCO,CA
4,"HONOLULU, HI",2019-01-01,189108.0,HONOLULU,HI
5,"NEWARK, NJ",2019-01-01,120601.0,NEWARK,NJ
6,"ORLANDO, FL",2019-01-01,138840.0,ORLANDO,FL
7,"CHICAGO, IL",2019-01-01,104782.0,CHICAGO,IL
8,"AGANA, GU",2019-01-01,135618.0,AGANA,GU
9,"FT. LAUDERDALE, FL",2019-01-01,88731.0,FT. LAUDERDALE,FL
10,"ATLANTA, GA",2019-01-01,87322.0,ATLANTA,GA
11,"WASHINGTON, DC",2019-01-01,67004.0,WASHINGTON,DC
12,"BOSTON, MA",2019-01-01,64916.0,BOSTON,MA
13,"HOUSTON, TX",2019-01-01,70334.0,HOUSTON,TX
14,"DALLAS, TX",2019-01-01,66899.0,DALLAS,TX
15,"SEATTLE, WA",2019-01-01,45515.0,SEATTLE,WA
16,"LAS VEGAS, NV",2019-01-01,47404.0,LAS VEGAS,NV
17,"DETROIT, MI",2019-01-01,40184.0,DETROIT,MI
18,"BLAINE, WA",2019-01-01,17198.0,BLAINE,WA
19,"PHILADELPHIA, PA",2019-01-01,18194.0,PHILADELPHIA,PA
20,"MINN./ST. PAUL, MN",2019-01-01,11236.0,MINN./ST. PAUL,MN
21,"TAMPA, FL",2019-01-01,9541.0,TAMPA,FL
22,"NIAGARA FALLS, NY",2019-01-01,4323.0,NIAGARA FALLS,NY
23,"SAN DIEGO, CA",2019-01-01,9537.0,SAN DIEGO,CA
24,"SAN JUAN, PR",2019-01-01,8519.0,SAN JUAN,PR
25,"SANFORD, FL",2019-01-01,2007.0,SANFORD,FL
26,"PEACE BRIDGE, NY",2019-01-01,4252.0,PEACE BRIDGE,NY
27,"CHAMPLAIN, NY",2019-01-01,3206.0,CHAMPLAIN,NY
28,"PHOENIX, AZ",2019-01-01,6447.0,PHOENIX,AZ
29,"PT HURON, MI",2019-01-01,2038.0,PT HURON,MI
...,...,...,...,...,...
180,"NEW YORK, NY",2019-07-01,3822002.0,NEW YORK,NY
181,"MIAMI, FL",2019-07-01,2858467.0,MIAMI,FL
182,"LOS ANGELES, CA",2019-07-01,2586717.0,LOS ANGELES,CA
183,"SAN FRANCISCO, CA",2019-07-01,1447080.0,SAN FRANCISCO,CA
184,"HONOLULU, HI",2019-07-01,1274391.0,HONOLULU,HI
185,"NEWARK, NJ",2019-07-01,1105313.0,NEWARK,NJ
186,"ORLANDO, FL",2019-07-01,1081294.0,ORLANDO,FL
187,"CHICAGO, IL",2019-07-01,918813.0,CHICAGO,IL
188,"AGANA, GU",2019-07-01,831831.0,AGANA,GU
189,"FT. LAUDERDALE, FL",2019-07-01,696954.0,FT. LAUDERDALE,FL
190,"ATLANTA, GA",2019-07-01,661805.0,ATLANTA,GA
191,"WASHINGTON, DC",2019-07-01,612743.0,WASHINGTON,DC
192,"BOSTON, MA",2019-07-01,602222.0,BOSTON,MA
193,"HOUSTON, TX",2019-07-01,548171.0,HOUSTON,TX
194,"DALLAS, TX",2019-07-01,467306.0,DALLAS,TX
195,"SEATTLE, WA",2019-07-01,400145.0,SEATTLE,WA
196,"LAS VEGAS, NV",2019-07-01,325617.0,LAS VEGAS,NV
197,"DETROIT, MI",2019-07-01,279065.0,DETROIT,MI
198,"BLAINE, WA",2019-07-01,181495.0,BLAINE,WA
199,"PHILADELPHIA, PA",2019-07-01,174943.0,PHILADELPHIA,PA
200,"MINN./ST. PAUL, MN",2019-07-01,104986.0,MINN./ST. PAUL,MN
201,"TAMPA, FL",2019-07-01,90635.0,TAMPA,FL
202,"NIAGARA FALLS, NY",2019-07-01,93367.0,NIAGARA FALLS,NY
203,"SAN DIEGO, CA",2019-07-01,70492.0,SAN DIEGO,CA
204,"SAN JUAN, PR",2019-07-01,62642.0,SAN JUAN,PR
205,"SANFORD, FL",2019-07-01,62998.0,SANFORD,FL
206,"PEACE BRIDGE, NY",2019-07-01,55150.0,PEACE BRIDGE,NY
207,"CHAMPLAIN, NY",2019-07-01,50137.0,CHAMPLAIN,NY
208,"PHOENIX, AZ",2019-07-01,45598.0,PHOENIX,AZ
209,"PT HURON, MI",2019-07-01,45166.0,PT HURON,MI

In [ ]:
df_zillow1.to_csv('resources/Zillow_Data/Avg_Home_County.csv')